.container{
  display: flex;
}
.password-generator-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-generator-header {
  text-align: center;
  margin-bottom: 20px;
}

.password-generator-content {
  margin-bottom: 20px;
}

.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button > span {
  font-size: 1.2em;
}

.password-strength {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.password-strength-checker-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.password-strength-checker-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.password-input-container {
  margin-bottom: 20px;
}

.password-input-container label {
  display: block;
  margin-bottom: 5px;
}

.password-input-container input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.crack-time-info p {
  margin: 0;
}

.crack-time-info p:first-child {
  font-weight: bold;
}

.crack-time-info p:last-child {
  margin-top: 5px;
}
